<div class="container">
    <div class="row">
        <!-- CARDS DE PRODUTOS -->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <div class="card">
                <img class="card-img-top" src="produto.imageUrl" alt="produto.nome">
                <div class="card-body">
                    <h4 class="card-title">Nome do Produto</h4>
                    <p class="card-text">Descrição do Produto</p>
                    <span><b>R$</b>2.221.500,<small>00</small></span><a href="#" class="btn btn-primary"><i class="material-icons">shopping_cart</i></a>
                </div>
            </div>
        </div>
    </div>
</div>