.listar-produtos{
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 5px;
}

.card{
    margin: 5px;
}
.card:hover{
    border: 1px solid #888;
}

.card-title{
    min-height: 105px;
    max-height: 106px;
    overflow: hidden;
}

.card-body p a{
    color: #4682B4;
}

.card-footer span{
    padding: 0px 30px;
    font-size: 30px;
    text-align: center;
}
.card-footer span b{
    margin-right: 5px;
}

.card-footer span small{
    font-size: 20px;
    margin-right: 10px;
    position: absolute;
    bottom: 66px;
}

.card-footer .btn.btn-primary{
    /* float: right; */
    width: 95%;
}

.cursor-pointer{
    cursor: pointer;
}

.cursor-pointer:hover{
    text-decoration: underline;
}