.listar-produtos{
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 5px;
}

.card-body span{
    font-size: 30px;
    text-align: center;
}
.card-body span b{
    margin-right: 5px;
}

.card-body span small{
    font-size: 20px;
    margin-right: 10px;
    position: absolute;
    bottom: 73px;
}

.card-body .btn.btn-primary{
    /* float: right; */
    width: 95%;
}
.card{
    margin: 5px;
}